* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.task {
    margin: 20px;
    color: white;
    padding: 10px;
}

.prop {
    margin-top: 10px;
}

.list-name {
    text-align: center;
}

.sidebar {
    position: fixed;
    height: 100vh;
    width: min(50vw, 200px);
    background: #dedede;
    left: -100%;
    z-index: 2;
    transition: left 0.4s
}

.show-sidebar {
   left: 0; 
}

.show-page {
    display: block;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}