* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 20px;
  transition: margin-left 0.4s;
}

header {
  background: grey;
  height: 100px;
  width: 100%;
  position: fixed;
  display: grid;
  place-items: center;
  margin-bottom: 10px;
  z-index: 1;
  border: 2px solid red;
}

.todo {
  position: relative;
  margin: 20px;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priority {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.priority > input {
  margin-top: 1px;
}

.urgent {
  border-left: 8px solid orangered
}

.prop {
  margin: 10px;
}

.list-title {
  text-align: center;
}

.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 200px;
  background: #dedede;
  left: -200px;
  z-index: 2;
  transition: left 0.4s;
}

.divider {
  margin-top: 10px;
  height: 2px;
  width: 100%;
  background: black;
}

.show-sidebar {
  left: 0;
}

.show-page {
  display: block;
}

.close {
  position: absolute;
  color: black;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
}

.close:hover {
  background: rgb(238, 69, 69);
  border-radius: 5px;
  cursor: pointer;
}

.list-header {
  margin-left: 10px;
  margin-top: 40px;
  width: fit-content;
  height: fit-content;
  border-bottom: 2px solid transparent;
}

.list-header:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}

.list {
  margin-left: 10px;
  margin-top: 15px;
  width: fit-content;
  padding-right: 5px;
  border-bottom: 2px solid transparent;
  font-weight: 700;
  font-size: 12px;

}

.list:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}

.timed-list-ul>li:first-child {
  margin-top: 10px;
}

.sidebar-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 50px;
  transition: margin-left 0.4s;
  z-index: 2;
}

.sidebar-btn:hover {
  box-shadow: inset 0 0 0 100px lightgrey;
  border-radius: 100%;
  cursor: pointer;
}

.marker {
  position: absolute;
  top: -20px;
  right: 10px;
}

.header-title {
  text-align: center;
  font-size: 3rem;
  transition: transform 0.4s
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 0 20px;
  padding-top: 120px;
}

.container {
  background: rgb(55, 55, 55);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.urgent {
  border-left: 8px solid #c03c10;
}

.add {
  margin: 10px 0 30px 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  filter: saturate(10) hue-rotate(270deg) contrast(1) brightness(1.5);
  cursor: pointer;
}

.add:hover {
  filter: saturate(10) hue-rotate(270deg) contrast(1.5) brightness(1.2);
}

.date-picker {
  border-radius: 5px;
  padding: 0 2px;
  border: 2px solid black;
}

.icon {
  height: 30px;
  width: 30px;
  margin: 0 10px;
  cursor: pointer;
}

.delete, .priority {
  background: white;
  border-radius: 50%;
}

.delete:hover {
  filter: hue-rotate(20deg) saturate(5) contrast(1);
}

.note {
  filter: invert(1);
}

.note:hover {
  filter: invert(0.75) saturate(3) hue-rotate(90deg);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 400px;
  background: grey;
}

.inner-modal {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  padding-top: 20px;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.todoNote {
  height: 275px;
  width: 275px;
  padding: 4px;
  border: 2px solid white;
  border-radius: 5px;
  background: lightgrey;
  grid-column-start: span 2;
}

.okay, .cancel {
  width: 80px;
  height: 40px;
  color: white;
  border-radius: 5px;
}

.okay {
  background: darkgreen;
}

.cancel {
  background: darkred;
}

.priority {
  filter: saturate(0);
}

.priority:hover {
  filter: none;
}

.colored {
  filter: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 400px) {
  .todo {
    flex-direction: column;
  }
  
  .title {
    text-align: center;
  }
}

@media (min-width: 600px) {
  .title {
    width: 50%;
    text-align: left;
  }
}